<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>To Do List</title>
  <link rel="stylesheet" href="../public/main.css" />
</head>
<body>

   <h1>My To Do List</h1>
    <br />

      <form action="/" method="POST" id="dataEntry">
          <input type="text" name="addTodo" placeholder="Add a todo" />
          <button type="submit" name="addTodo">Add todo</button>
          <br />
      </form>
      <ul>
      {{#todos}}
      {{#stillToDo}}
      <form action="/complete" method="POST">
          <li><button type="submit" name="markComplete" value="{{todo}}">Mark complete</button>
          {{todo}}
          </li>
      </ul>
      {{/stillToDo}}
      {{/todos}}
      </form>
    <br />

     <h2>Completed tasks:</h2>
        <ul>
          {{#todos}}
          {{^stillToDo}}
            <li class="complete">
              {{todo}}
            </li>
          {{/stillToDo}}
          {{/todos}}
        </ul>

       {{^todos}}
          <h2>Yay, free time!</h2>
        {{/todos}}

</body>
</html>
